@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>My Starred Projects on GitHub</h2>

@{
    int counter = 0;
}

@foreach (var project in Model)
{
    counter++;
    <div class="panel panel-info bw-opacity-0" id="panel-@counter">
        <div class="panel-heading"><a href="@project.HtmlUrl" class="white-link">@project.Name</a></div>
        <div class="panel-body">
            @project.Description
        </div>
    </div>

    <div id="result">

    </div>
}
