@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Me</h2>

@*describe your journey to become a junior developer.*@

<div class="about-details">
    I am a Junior Web developer currently enrolled in Epicodus, a vocational school for Programming, where I am learning latest web development technologies. e.g. TypeScript, Angular 2, C#, ASP.Net Core, and MVC Framework. I love to see my imagination come to life. I choose to be a web developer to bring my ideas to life.


</div>